<a href="https://colab.research.google.com/github/ismeemaahir/portfolio1/blob/master/200818_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_1%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
print(sklearn.__version__)

0.22.2.post1

In [5]:
### 1. 개요
### - iris 붓꽃 분류모형을 만든다

1. 개요
- iris 붓꽃 분류모형을 만든다

**개요**
- iris 붓꽃 분류모형을 만든다

# 새 섹션

In [6]:
### (2) 데이터 불러오기
### - sklearn 패키지 내장데이터 있음

In [14]:
from sklearn.datasets import load_iris
iris = load_iris()  #번치 형태의 데이터셋으로 구성되어 있음

# 독립변수 구성된 데이터
iris_data = iris.data
#종속변수
iris_label = iris.target

print('iris target 값:', iris_label[[0,50,100]])
print('iris target 명:', iris.target_names)

iris target 값: [0 1 2]
iris target 명: ['setosa' 'versicolor' 'virginica']

### (2) 데이터 전처리
-상황: numpy 형태, 테스트
-방법: pandas를 활용해서, 데이터 프레임 만들기
-ref. How to convert a Scikit-learn dataset to a Pandas dataset?(https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset/46379878#46379878)

In [18]:
from sklearn import datasets
import pandas as pd

def sklearn_to_df(sklearn_dataset):
    df = pd.DataFrame(sklearn_dataset.data, columns=sklearn_dataset.feature_names)
    df['target'] = pd.Series(sklearn_dataset.target)
    return df

df_iris = sklearn_to_df(datasets.load_boston())
df_iris

        CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  target
0    0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1    0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2    0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3    0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4    0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2
..       ...   ...    ...   ...    ...  ...    ...      ...     ...    ...     ...
501  0.06263   0.0  11.93   0.0  0.573  ...  273.0     21.0  391.99   9.67    22.4
502  0.04527   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   9.08    20.6
503  0.06076   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   5.64    23.9
504  0.10959   0.0  11.93   0.0  0.573  ...  273.0     21.0  393.45   6.48    22.0
505  0.04741   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   7.88    11.9

[506 rows x 14 columns]